.produtinho{
    width: 50vh;
    height: auto;
    margin: 1vh;
    border: black solid 1vh;
    padding: 1vh;
    min-width: 250px;
}
.lista{
        display: flex;
    flex-direction: row;
}
.imagem{
    width: 99%;
}
.nomeProduto{
    text-align: center;
    border-bottom: black solid 1vh;
}