<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lojinha do Tadeu</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />

</head>
<body>
<div>
    <form action="busca/" method="get">
        <input type="text" type="text" id='search' name="palavra_chave">
        <input type="submit"/>
    </form>
</div>
<div class="lista">
<section id="lista_produto">
        <section class="produtinho">
            <p>Seus produtos estão carregando ou você não tem nenhum adicionada!</p>
        </section>
    </section>
</div>
<form action="adicionar/" method="POST">
    {% csrf_token %}
    <label for="nome">Nome: </label>
    <input id="nome" type="text" name="nome" value="">
    <label for="quant_estoque">Quantidade em Estoque: </label>
    <input id="quant_estoque" type="number" name="quant_estoque" value="">
    <label for="preco_unit">Preço por unidade: </label>
    <input id="preco_unit" type="number" step=".01" min="0" name="preco_unit" value="">
    <label for="imagem">Imagem do Produto(Url): </label>
    <input id="imagem" type="url" name="imagem" value="">
    <input type="submit" value="OK">
</form>

</body>
<script>
xhr = new XMLHttpRequest();
xhr.open("GET", "lista_produto/");
xhr.send(null);
xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
    document.getElementById("lista_produto").innerHTML = xhr.response;}
}
function busca() {
    palavraChave = document.getElementById("search").value;
    xhr = new XMLHttpRequest();
    xhr.open("GET", "/buscar?palavra_chave=" + palavraChave);
    xhr.send(null);
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("lista_produto").innerHTML = xhr.response;
        }
    }
    return false;
}
</script>
</html>